<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="pingPongTableApp">

<div class="container-fluid main-view" ng-controller="MainCtrl">
  <div class="row current-score">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-guy">
      <div class="current-point">
        {{gameStats.rank1}}
      </div>
      <div class="name">
        {{player1}}
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-guy">
      <div class="current-point">
        {{gameStats.rank2}}
      </div>
      <div class="name">
        {{player2}}
      </div>
    </div>
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tip">-->
    <!--A WIN FOR <span class="left-guy">{{player1}}</span> TAKES HIM TO RANK 3-->
    <!--</div>-->

  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headline" ng-show="gameIsStarted"><h1>Current turn : {{gameStats.currentTurn}}</h1></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headline"><h1>Control panel</h1></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 score-block" ng-class="{'disable': gameIsStarted == false}">
      <h2>LEFT PLAYER</h2>

      <div class="clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span>{{player1}}</span>
        </div>

      </div>
      <div class="score clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input type="button" value="+1" class="btn" ng-click="addPoint(player1)"  ng-disabled="gameIsStarted === false">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 score-block" ng-class="{'disable': gameIsStarted == true}">
      <h2>COMMON </h2>

      <div class="score clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="pull-left">
            <input type="text" placeholder="First player" ng-model="player1">
            <span>VS</span>
            <input type="text" placeholder="Second player" ng-model="player2">
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="pull-left">
            <span>First ball: </span>
            <input type="radio" name="group1" ng-model="firstPlayer" ng-value="player1"><span>{{player1}}</span>
            <input type="radio" name="group1" ng-model="firstPlayer" ng-value="player2"><span>{{player2}}</span>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="pull-left">
            <span>Game type: </span>
            <select ng-model="selectedGameType" ng-options="gameType.value as gameType.name for gameType in gameTypes"></select>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input class="btn" type="button" value="Start game" ng-click="startGame()" ng-disabled="readyToStart === false">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 score-block" ng-class="{'disable': gameIsStarted == false}">
      <h2>RIGHT PLAYER</h2>

      <div class="clearfix">
        <span>{{player2}}</span>
      </div>
      <div class="score clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input type="button" value="+1" class="btn" ng-click="addPoint(player2)" ng-disabled="gameIsStarted === false">
      </div>
    </div>
  </div>

  <!--<div class="row stats">-->
  <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headline"><h1>STATISTICS</h1></div>-->
  <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 score-block">-->
  <!--<h2>LAST SCORE</h2>-->

  <!--<div class="score clearfix">-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 points">9</div>-->
  <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">-</div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 points">11</div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><span class="left-guy">{{player1}}</span></div>-->
  <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 right"><span class="right-guy">{{player2}}</span></div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 score-block">-->
  <!--<h2>HEAD TO HEAD</h2>-->

  <!--<div class="score clearfix">-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 points">22</div>-->
  <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 points">-</div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 points">23</div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><span class="left-guy">{{player1}}</span></div>-->
  <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 right"><span class="right-guy">{{player2}}</span></div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 score-block">-->
  <!--<h2>CURRENT RANKING</h2>-->

  <!--<div class="score clearfix">-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 points">3</div>-->
  <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 points"></div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 points">4</div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><span class="left-guy">{{player1}}</span></div>-->
  <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>-->
  <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 right"><span class="right-guy">{{player2}}</span></div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
<div class="container-fluid footer">
  <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<a class="btn btn-primary">RANKINGS</a>-->
  <!--</div>-->
</div>
<!-- Your site ends -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/services/gametypes.js"></script>
<script src="scripts/services/gameservice.js"></script>
<!-- endbuild -->
<script src="scripts/templates.js"></script>
</body>
</html>
